@charset "UTF-8";
@import url("johnston/stylesheet.css");

html, body {
    font-family: "johnston_itc_stdlight";
    font-size: 14px;
    line-height: 160%;
    background-color: rgb(245, 245, 245);
}

html {
    -webkit-font-smoothing: antialiased;
}

.banner {
    height: 100vh;
    width: 100%;
    background-image: url(/assets/images/background-studio.jpg);
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 40em) {
    .banner {
        height: 100%;
    }
}



/*.banner {
    height: 90vh;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(40,40,50,0.93) 0%, rgba(40,40,50,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,40,50,0.9)), color-stop(100%,rgba(40,40,50,1)));
    background: -webkit-linear-gradient(top, rgba(40,40,50,0.93) 0%,rgba(40,40,50,1) 100%); 
    background: -o-linear-gradient(top, rgba(40,40,50,0.93) 0%,rgba(40,40,50,1) 100%); 
    background: -ms-linear-gradient(top, rgba(40,40,50,0.93) 0%,rgba(40,40,50,1) 100%); 
    background: linear-gradient(to bottom, rgba(40,40,50,0.93) 0%,rgba(40,40,50,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6282832', endColorstr='#282832',GradientType=0 ); 
}*/

.banner2 {
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(40,40,50,0.95) 0%, rgba(40,40,50,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,40,50,0.9)), color-stop(100%,rgba(40,40,50,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(40,40,50,0.95) 0%,rgba(40,40,50,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(40,40,50,0.95) 0%,rgba(40,40,50,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(40,40,50,0.95) 0%,rgba(40,40,50,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(40,40,50,0.95) 0%,rgba(40,40,50,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6282832', endColorstr='#282832',GradientType=0 ); /* IE6-9 */
}


.logo {
    display: block;
    padding-top: 30px;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: auto;
    margin-bottom: 0px;
    max-width: 400px;
    text-align: center;

}

.description-box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10vh;
    color: rgb(66, 201, 220);
    font-family: Consolas, monospace;
    font-size: 3em;
    line-height: 60px;
    padding-top: 35px;
    padding-bottom: 30px;
}

 
@media screen and (max-width: 40em) {
    .description-box {
        font-size:2em;
        line-height: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 8vh;
    }
}

.row {
    line-height: 30px;
    margin-top: 40vh;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 18px;
    padding-bottom: 20px;
    background-color: white;
}

@media screen and (max-width: 40em) {
    .row {
        margin-top: 30vh;
        margin-bottom: 50px;
    }
}


.glass {
    height: 100%;
    margin-bottom: 50px;
}

.container-fluid {
    padding-right: 10%;
    padding-left: 10%;
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer {
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: rgb(0,0,0);
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}


/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -57px;
}
.footer, .footer-push {
    height: 57px;
}
